html, body, .section, .container-fluid {
	height: 100%;
}
body {
	background-image: url(../images/image.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment:fixed;
}
.navbar-inverse {
	background: rgba(0,0,0,0.5);
	border: none;
	border-radius: 0;

}
.section {
	display: table;
	margin: auto;
}
.section .vertical-center-row {
	display: table-cell;
	vertical-align: middle;
	float: none;
}
.section .vertical-center-row .content {
	float: none;
	margin: auto;
}

h1 {
  color: white;
  font-size: 27px;
}
p {
	color: green;
	font-size: 24px;
}
h2 {
	color: white;
	font-size: 22px;
}
