.navbar-nav {
	float: right;
}
body {
	background-image: url(../images/image.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
}
