html, body, .section, .container-fluid, .first {
	height: 100%;
	width: 100%;
}
body {
	background-image: url(../images/new.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment:fixed;
}
.navbar-inverse {
	background: rgba(0,0,0,0.5);
	border: none;
	border-radius: 0;
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 12px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: -15px;
  color: white;
 	font-family: 'Oswald', sans-serif;
}
.section {
	display: table;
	margin: auto;
}
.section .vertical-center-row {
	display: table-cell;
	vertical-align: middle;
	float: none;
}
.section .vertical-center-row .content {
	float: none;
	margin: auto;
}
.first-responsive {
 	color: white;
 	font-size: 29px;
 	font-family: 'Oswald', sans-serif;
}
.bootstrap-is {
	color: seagreen;
	font-size: 20px;
	font-family: "ArimoRegular";
}
.share {
	color: white;
	font-size: 19px;
	text-align: center;
	font-family: "ArimoRegular";
}
.options {
	font-size: 19px;
	color: white;
	font-family: 'Oswald', sans-serif;
}
.hr-our {
  width: 67px;
  height: 1px;
  color: seagreen;
  border-top: 2px solid seagreen;
  margin-top: -18px;
}
.random-text {
	font-size: 17px;
	font-family: "ArimoRegular";
}
.soc_buttons .green-square {
	display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 5px;
}
.soc_buttons .green-square i {
	vertical-align: middle;
}
.soc_buttons .green-square:hover {
	background: seagreen;
}
.soc_buttons a {
	font-size: 20px;
	color: white;
	text-decoration: none;
}
.fa-vk, .fa-facebook, .fa-twitter, .fa-google-plus {
	font-size: small;
}
.green-border-2px {
  border: 2px solid seagreen;
}
.button, .btn-our-works {
	margin-top: 2.5em;
	background-color: seagreen;
	color: white;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	white-space: nowrap;
	box-shadow: none;
}
.btn-our-works:focus {
	background: none;
	outline: none;
}
.button:hover {
	background: none;
}
.layout div {
	 margin: 15px 0;
} 
.layout div:first-child, .layout div:first-child h2 {
	font-size: 24px;
}
.layout div:first-child ,
.layout div:first-child h2,
.layout div:first-child h3 {
	text-align: left;
}
.layout div div {
  margin: 1px; 
  padding: 10px; 
  height: auto; 
  background: rgba(0,0,0,0.5);
  color: #f5e8d0;
  overflow: auto;
	border-radius: 8px;
	cursor: pointer;
}
.layout div div:hover {
	background: rgba(0,0,0,0.3);
}
.fa-file-o, 
.fa-apple, 
.fa-html5, 
.fa-bullhorn, 
.fa-book, 
.fa-envelope, 
.fa-code, 
.fa-briefcase, 
.fa-gamepad {
	color: seagreen;
	font-size: 30px;
	padding-left: 10px;
}
.random-text-columns {
	font-family: 'Oswald', sans-serif;
}
.col {
	background-color: rgba(0,0,0,0.5);
}
.hr-pricing {
	width: 67px;
  height: 1px;
  color: seagreen;
  border-top: 2px solid seagreen;
  margin-top: 12px;
}
.pricing-tables {
 	padding: 20px;
}   
.pricing-tables h1 {
  font-size: 48px;
}   
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.pricing-tables.attached .col-sm-4, 
.pricing-tables.attached .col-md-4, 
.pricing-tables.attached .col-sm-3, 
.pricing-tables.attached .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}
.plan {
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
  min-height: 100px;
  background: rgba(0,0,0,0.5);
  border-radius: 4px;
  margin: 30px 0;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
}
.plan ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 2px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0;
  color: white;
	background: none;
	box-shadow: none;
}
.btn.focus, .btn:focus, .btn:hover {
	color: white;
	background: seagreen;
	outline: none;
}
.plan .price {
  margin: 0 auto 30px auto;
  width: 80%;
}
.plan .price h3 span {
  font-size: 38px; 
  vertical-align: top; 
  position: relative; 
  margin: 6px 0 0 -7px; 
  display: inline-block; 
}
.plan .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px 16px;
  background: rgba(0,0,0,0.6);
  color: seagreen;
  border-radius: 0;
}
.head h2 {
	color: seagreen;
}
.symbol {
	color: white;
	font-size: 24px;
  position: relative;
  top: -6px;
  left: -7px;
}
.is-visible {
	color: #fff;
	font-size: 50px;
}
.fa-usd {
	font-size: 3.5rem;
  position: relative;
  color: white;
  top: -0.6em;
  padding-right: 0px;
}
.per {
	color: grey;
}
h5 {
	color: white;
}
.fa-print {
	margin-right: 18px;
}
.fa-clock-o {
	margin-right: 12px;
}
.fa-trash-o{
	margin-right: 7px;
}
.plan:hover {
 	box-shadow: rgba(0, 0, 0, 0.5); 
  transform: scale(1.04);
  z-index: 1; 
  border-bottom: 0 none;
}
.columns-image {
	border-radius: 2;
}
.green-border-1px {
	border: 1px solid seagreen;	
}
.img-columns{
	border-radius: 8px;
	padding: 5px;
}
.lorem {
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
}
.team {
	box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
  min-height: 100px;
  background: rgba(0,0,0,0.5);
  border: 1px solid white;
  border-radius: 12px 12px 0 0;
  margin: 30px 0;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  overflow: hidden;
}
.twitter-team {
  color: seagreen;
  font-size: 40px;
  border: 15px solid white;
  background-color: white;
  border-radius: 50%;
  position:absolute;
  top: 49%;
  left: 57%;
  margin: -50px 0 0 -51px;
}
.twitter-team:hover {
	cursor: pointer;
}
.team-text {
	font-size: 20px;
	color: #fff;
	margin-top: 5px;
}
.tean-text-2 {
	color: seagreen;
  font-size: 13px;
}
.team-text-3 {
	color: #fff;
	font-size: 16px;
}
.team:hover {
	box-shadow: rgba(0, 0, 0, 0.5); 
  transform: scale(1.06);
  border: 1px solid white;
  border-radius: 12px 12px 0 0;
}
.img-team {
	padding: 0;
	margin-top: -25px;
	overflow: hidden;
  position: relative;
  height: 174px;
 	z-index: 0;
}
.categories {
  transition: width 1s, opacity .5s, padding 1s;
}
.hide-img {
  width: 0;
  opacity: 0;
  padding: 0;
}